//Primary Colors
$msk_blue: #4D86C5;
$msk_orange: #F16C3C;
$msk_beige: #FDF7BE;

$msk_gray: #797979;
$msk_med_gray: #B5B5A9;
$msk_light_gray: #E0E1DA;

$black: #000000;
$white: #FFFFFF;

//Secondary Colors
$blue1: #A3DBF7;
$blue2: #2DBFEE;
$blue3: #377BB7;

$orange1: #FED982;
$orange2: #F99F42;
$orange3: #DF613C;

$violet1: #B689B4;
$violet2: #B6357F;
$violet3: #6A3971;

$magenta1: #F6B6C8;
$magenta2: #EB2C7E;
$magenta3: #B93552;

$sienne1: #FCBA31;
$sienne2: #A46643;
$sienne3: #8C4D3E;

$yellow1: #FEF0B6;
$yellow2: #FADE24;
$yellow3: #FEBF33;

$green1: #A8CE4F;
$green2: #699C50;
$green3: #327949;

$turquoise1: #D5E5B1;
$turquoise2: #27A89F;
$turquoise3: #257D7F;